<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <title>{{ page.title }}</title>
  </head>

  <body>
    <a href="http://github.com/xrogaan/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    <div id="container">
      <div id="header">
	<h1><a href="http://github.com/xrogaan/">{{ page.title }}</a></h1>
      </div>
      <div id="menu">
	<ul>
	  <li><a href="index.html" title="Home page" class="current">Home</a></li>
	  <li><a href="Ayaq/" title="Ayaq">Ayaq</a></li>
	  <li><a href="taplod/" title="taplod">taplod</a></li>
	</ul>
      </div>
     </div>
    {{ content }}
    <div class="footer">
      <p>get the source code on GitHub : <a href="http://github.com/xrogaan/Ayaq">xrogaan/Ayaq</a></p>
    </div>
    
  </div>
  </body>
</html>

